@model List<RAMWebUI.Models.TaskItemVM>;
@{
    ViewData["Title"] = "HomeHome";
}

<div class="contianer">

   <div class="row">
       <div class="col-3">To Do</div>
       <div class="col-3">In Progress</div>
       <div class="col-3">Complete</div>
   </div>
        <div class="row">
        @foreach (TaskItemVM t in Model){
                <div class="col-3 stagebox" id="toDo">
                @if (t.stage == 1){
                        <div class="taskbox justif-content-center">
                                <button class="delete" onclick="remove()">x</button>
                                <p>@t.Description</p>
                                @Html.ActionLink(">", "UpdateAdd", new {id = t.TaskID})

                        </div>
                }
                </div>
                <div class="col-3 stagebox" id="inProgress">
                @if (t.stage == 2){
                    <div class="taskbox justif-content-center">
                        <button class="delete" onclick="remove()">x</button>
                        <p>@t.Description</p>
                        @Html.ActionLink("<", "UpdateDec", new { id = t.TaskID })
                        @Html.ActionLink(">", "UpdateAdd", new { id = t.TaskID })

                    </div>
                }
                </div>
                <div class="col-3 stagebox" id="complete">
                @if (t.stage == 3){
                    <div class="taskbox justif-content-center">
                        <button class="delete" onclick="remove()">x</button>
                        <p>@t.Description</p>
                        @Html.ActionLink("<", "UpdateDec", new { id = t.TaskID })

                    </div>
                }
                </div>
        }
        </div>
          <a asp-action="Create" class="btn btn-primary">Create A Task</a>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
